body{
    background-image: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106399/crsrxfllostehmuxwzqfkdarpcg0di40toehyl4mzmgrkmy3dpfzxttukvsmluvp-o.jpg?1399222059');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#header{
    width: 100%;
    text-align: center;
}

#main{
    width: 70%;
    border: 3px solid black;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:lightgray;
    text-align: center;
    padding: 10px;
    opacity: 0.7;
}

table{
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

td{
    border-bottom: dotted lightgray 2px;
    padding: 10px;
}

thead.td{
    font-weight: bold;
}