body{
    background-image: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106399/crsrxfllostehmuxwzqfkdarpcg0di40toehyl4mzmgrkmy3dpfzxttukvsmluvp-o.jpg?1399222059');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#header{
    width: 100%;
    text-align: center;
}

#main{
    width: 70%;
    border: 3px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:#d19443;
    text-align: center;
    padding: 10px;
}

table{
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border-color:transparent;
    border-collapse: collapse;
    max-width: 70%;
}

tr{ border-bottom: dotted lightgray 2px;}

td{
    padding: 10px;
    word-wrap: break-word;
    max-width:200px;
}

thead{
    font-weight: bold;
}